@use "../../partials/queries.scss" as q;
@use "../../partials/variables" as v;

.header{
    margin:0;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre;
    color: v.$googleBlack;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #202124;
    .g{
        margin:0;
        color: v.$googleBlue;
        
    font-weight: 600;
    font-style: normal;
    }
    .o{
        margin:0;
        color: v.$googleRed;
        
    font-weight: 600;
    font-style: normal;
    }
    .o2{
        margin:0;
        color: v.$googleYellow;
        
    font-weight: 600;
    font-style: normal;
    }
    .g2{
        margin:0;
        color: v.$googleBlue;
        
    font-weight: 600;
    font-style: normal;
    }
    .l{
        margin:0;
        color: v.$googleGeen;
        
    font-weight: 600;
    font-style: normal;
    }
    .e{
        margin:0;
        color: v.$googleRed;
     
    font-weight: 600;
    font-style: normal;
    }
    .books{
        margin: 0;
        font-weight: 500;
    }
    @include q.phone {
      font-size: 1.75em;
      }
      @include q.laptop {
        font-size: 4em
      }
}