@use "../../partials/queries.scss" as q;

.header{
    margin:0;
    font-size: 4em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    white-space: pre;
    color: #202124;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #202124;
    .g{
        margin:0;
        color: #4285F4;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .o{
        margin:0;
        color: #EA4335;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .o2{
        margin:0;
        color: #FBBC04;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .g2{
        margin:0;
        color: #4285F4;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .l{
        margin:0;
        color: #34A853;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .e{
        margin:0;
        color: #EA4335;
        font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    }
    .books{
        margin: 0;
    }
    @include q.phone {
      font-size: 2em;
      }
      @include q.laptop {
        font-size: 4em
      }
}