@use "../../partials/queries.scss" as q;
@use "../../partials/variables" as v;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  justify-self: center;
  align-self: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 500px;
  background-color: v.$googleGeen;
  z-index: 3;

  &_yellow {
    height: 100%;
    width: 100%;
    background-color: v.$googleYellow;
    border-radius: 94px 0px 94px 94px;
    margin: 0;
    z-index: 4;
  }
  &_blue {
    height: 100%;
    width: 100%;
    background-color: v.$googleBlue;
    border-radius: 94px 94px 94px 0px;
    margin: 0;
    z-index: 5;
  }
  &_red {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    background-color: v.$googleRed;
    border-radius: 0px 94px 0px 0px;
    margin: 0em;
    padding-bottom: 15%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    z-index: 6;

    .close {
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 60px;
      align-self: flex-start;
      border-radius: 0px 0px 30px 0px;
      background-color: v.$googleRed;
      transition: 0.2s ease-in;
      border: none;
      color: white;
      font-size: 1.75em;
      z-index: 7;

      &:hover {
        background-color: v.$googleRedDark;
        transition: 0.2s ease-in;
        cursor: pointer;
      }
    }
    .content {
      height: 55%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        width: 5px;
        height: 8px;
        background-color: v.$googleRed;
      }
      &::-webkit-scrollbar-thumb {
        background: v.$googleRedDark;
      }

      h1 {
        margin: 0.5em 2em 0em 2em;
        max-height: 150px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          background-color: v.$googleRed;
        }
        &::-webkit-scrollbar-thumb {
          background: v.$googleRedDark;
        }
      }
      h3 {
        margin: 0.25em;
      }

      p {
        font-size: 0.75em;
        margin: 0em 0em 0.5em 0em;
      }
      span {
        display: flex;
        flex-direction: row;
        white-space: pre;
      }
    }
  }

  &_white {
    height: 70%;
    width: 100%;
    max-height: 70%;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 0px 94px 94px 94px;
    margin: 0;
    padding-top: 10px;
    // padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 8;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    .content {
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 0.5em;
      padding-bottom: 3em;

      h5 {
        margin: 0em 0em 0.5em 0em;
        font-size: 1em;
      }

      p {
        max-height: 150px;
        font-size: 1em;
        margin: 0.5em 0em;
      }
      span {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        white-space: pre;
        margin: 0;
        width: 100%;
      }
      .description {
        padding-left: 20px;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          width: 5px;
          height: 8px;
          background-color: v.$googleGreyLight;
        }
        &::-webkit-scrollbar-thumb {
          background: v.$googleBlack;
        }
      }
      .info {
        align-self: flex-start;
        justify-self: flex-start;
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        text-wrap: wrap;
      }
      .read {
        width: 100%;
        max-width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .links {
          height: 100px;
          margin-bottom: 30px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
  overflow: hidden;
  @include q.phone {
    height: 80%;
    width: 95%;
  }
  @include q.laptop {
    height: 600px;
    width: 700px;
  }
}

.layout {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
