$googleBlue: #4285F4;
$googleBlueLight: #D2E3FC;
$googleBlueDark: #174EA6;
$googleRed: #ea4335;
$googleRedLight:  #FAD2CF;
$googleRedDark:  #A50E0E;
$googleYellow:  #fbbc04;
$googleYellowLight:  #FEEFC3;
$googleYellowDark:  #E37400;
$googleGeen: #34A853;
$googleGeenLight: #CEEAD6;
$googleGeenDark: #0D652D;
$googleBlack: #202124;
$googleGrey: #9AA0A6;
$googleGreyLight:#F1F3F4;

