@use "../../partials/queries.scss" as q;

.bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h1{
        color: #9AA0A6;
        margin: none;
    }
    @include q.phone {
        display: none;
        }
        @include q.laptop {
          display: flex;
        }
}